.pok-list-pokemon {
  text-align: center;
  width: 100%;
  display: flex;
  .pok-pokemon1 {
    width: 33.3333%;
  }
  .pok-pokemon2 {
    width: 33.3333%;
  }
  .pok-pokemon3 {
    width: 33.3333%;
  }
}
